<!DOCTYPE html>
<html lang="en">
<head>
          <%- include('../partials/head'); %>

</head>
<body class="container">
    <header>
        <!-- include header-->
          <%- include('../partials/header'); %>
    </header>
    <main>
<h1>API DOCUMENTATION - WAY2STAY</h1>
<h2>short documentation about our API</h2>
<h3 class="mt-4">Endpoints:</h3>+
<ul>
    <li>
       <p>/api/users</p>
    </li>
    <li>
        <p>
        /api/extras
        </p>
    </li>
    <li>
        <p>
api/comments
        </p>
    </li>
        <li>
        <p>
api/bookings
        </p>
    </li>
        <li>
        <p>
api/flats
        </p>
    </li>
        <li>
        <h4>
api/timesheets
        </h4>
    </li>
        <li>
        <p>
api/categories
        </p>
    </li>
        <li>
        <p>
api/reviews
        </p>
    </li>
</ul>
</div>
</main>
<footer>
            <!-- include footer-->
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>