<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <!-- include header-->
      <%- include('../partials/header'); %>
    </header>
    <main>
      <h1>API DOCUMENTATION - WAY2STAY</h1>
      <h2>short documentation about our API</h2>
      <h3 class="mt-4">Endpoints:</h3>
      +
      <ul>
        <li>/api/users</li>
        <li>/api/users</li>
        <li>/api/users</li>
        <li>/api/users</li>
        <li>/api/extras</li>
        <li>/api/comments</li>
        <li>/api/bookings</li>
        <li>/api/flats</li>
        <li>/api/timesheets</li>
        <li>/api/categories</li>
        <li>/api/reviews</li>
      </ul>
    </main>
    <footer>
      <!-- include footer-->
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
